.container {
    width: 100%;
}

.container p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

@media (max-width: 767px) {
    .container {
        text-align: center;
       
    }
    .container p {
        font-size: 14px;
         margin-bottom: 1rem;
    }
}
@media (max-width: 1023px) {
    .container p{
        text-align: center;
    }
   .wrapper {
    justify-content: space-between;
    width: 100%;
   }

    
}
