.container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
    

    width: 100%;
    border-bottom: 2px solid #fff;
   
    cursor: pointer;
}
.container img {
    width: 28px;
    height: 28px;
}

.container input {
    color: rgb(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    background-color: rgb(255, 255, 255, 0);
}
.container input::placeholder{
    font-size: 12px;
}

@media (max-width: 376px) {
   .container img {
    width: 20px;
    height: 20px;
       
   }
}