.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 300px;
    cursor: pointer;
 
}
.container:hover{
    transform: scale(1.05);
    transition:all 0.5s  ease-in-out;
}

.container span {
    font-weight: 600;
    color: #fff;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.wrapper p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.wrapper img {
    width: 24px;
    height: 24px;
}